<div class="card">

  <div class="card-body">
    <div *ngIf="messages?.length === 0">
      <p>No messages yet.</p>
    </div>

    <ul class="chat">
      <li *ngFor="let message of messages">

        <!-- received -->
        <div *ngIf="message.senderId == userId">
          <span class="chat-img float-left">
            <img src="{{ message.senderPhotoUrl }}" class="rounded-circle">
          </span>
          <div class="chat-body">
            <div class="header">
              <strong class="primary-font">{{ message.senderKnownAs }}</strong>
              <small class="text-muted float-right">
                <span class="fa fa-clock-o">{{ message.dateSent | timeAgo }}</span>
              </small>
            </div>
            <p>{{ message.content }}</p>
          </div>
        </div>

        <!-- sent -->
        <div *ngIf="message.senderId != userId">
          <span class="chat-img float-right">
            <img src="{{ message.senderPhotoUrl }}" class="rounded-circle">
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">{{ message.dateSent | timeAgo }}</span>
                <span *ngIf="!message.isRead" class="unread">(Unread)</span>
                <span *ngIf="message.isRead" class="text-muted read">(Read){{message.dateRead | timeAgo}}</span>
              </small>
              <strong class="primary-font float-right">{{ message.senderKnownAs }}</strong>
            </div>
            <p>{{ message.content }}</p>
          </div>
        </div>

      </li>
    </ul>
  </div>

  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <div class="input-group">
        <input type="text" class="form-control form-control-sm" required name="content" [(ngModel)]="newMessage.content" placeholder="Send a private message">
        <span class="input-group-btn">
          <button class="btn btn-primary btn-sm" [disabled]="!messageForm.valid">Send</button>
        </span>
      </div>
    </form>
  </div>

</div>