@import '../../styles.scss';

.nav-red {
    background-color: $red;
    color: white;
}

.dropdown {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}